---
permalink: /test/index.html
---
<p>{{ site.company_name }}</p>
<p>{{ hero.tag }}</p>
<p>{{ faq.items | length }} FAQ items</p>
<p>{{ testimonials.items | length }} testimonials</p>
<p>{{ stats.items | length }} stats</p>
<p>{{ values.items | length }} values</p>
